body {
	padding: 30px;
	background-image: url(../images/background.jpg);
	font-family: 'Bitter', 'Times New Roman', serif;
    font-size: 18px;
    line-height: 30px;
}
section {
	border: 1px #886 solid;
	padding: 12px 20px;
	margin: 20px;
	float: left;
	background-color: black;
	color: white;
	min-width: 160px;
}
h3 {
	font-size: 28px;
    border-bottom: 1px solid #886;
    margin-bottom: 10px;
    color: #886;
    font-family: 'Quintessential', cursive;
    position: relative;
    left: -10px;
    top: -3px;
}
h1 {
	font-size: 80px;
	margin: 8px 0 0 0;
	color: red;
    text-shadow: #000 -4px 3px 4px;
	font-family: 'Quintessential', cursive;
}
p {
	margin: 10px;    
	margin: 10px;
    color: #b5a8a6;
    line-height: 24px
}
footer {
	clear: both;
    text-align: center;
    margin-top: 30px;
    background-color: black;
    padding: 40px;
    color: #fff;
    opacity: .5;
}
.intro {
    max-width: 325px;
}
.guessedWrongLetters {
	margin: 10px;
	line-height: 10px;
	color: red;
}
.gameBoard {
	float: right;
    width: 395px;
}
.letterBlanks {
    font-size: larger;
    letter-spacing: 3px;
}
.flayedMan {
	margin-top: 20px;
}
.score {

}
.newGame {
	
}
.gameOverMessage {
	display: none;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.gameOverBG {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: .5;
}
.gameOverContainer {
	display: block;
	position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    line-height: 60px;
    margin: 5% 30%;
}
.gameOverImage {
	display: block;
}

}
.sectiontitle {

}
.quote {
    background-color: #222;
    padding: 6px 12px;
    border-radius: 5px;
    text-align: right;
    color: #666;
}
.instrucions {
	color: white;
}
.wordCategory {
    margin-top: 5px;
    font-style: italic;
    color: #666;
}
.resultText {
	line-height: 40px;
}